:root {
  --purp: rgb(113, 45, 144);
  --lightpurp: #f8eaff;
}

html {
  background-color: var(--lightpurp);
}

.card {
  border-radius: 20px;
}
#name-card,
#ingr-card,
#rand-card {
  transition: all 0.4s ease-in-out;
}
#name-card:hover,
#ingr-card:hover,
#rand-card:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 15px 25px rgba(145, 92, 182, 0.7);
}

.navbar,
.card {
  background-color: var(--purp);
  color: var(--lightpurp);
}
/* list results hover with same effect as search by */
.list-result, #branding {
  transition: all 0.4s ease-in-out;
}

#branding {
  border-radius: 25px;
}

.list-result:hover, #branding:hover {
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(145, 92, 182, 0.7);
}

#title {
  color: white;
}

#searchBy {
  padding-top: 24px;
}

.drink-card {
  max-width: 1100px;
  border: 5px solid var(--purp);
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #player {
    width: auto;
    height: auto;
  }
}